out_format: '{bag_base}.preproc{ext}'
compression: lz4
filters:
  - MergeInitialStaticTf:
      add_tags: [ "copied_tf" ]
  - CopyFirstTfToBagStart:
      add_tags: [ "copied_tf" ]
  - RemovePasswordsFromParams: {}
  # Make sure we have TFs also for images that have stamps slightly before the start of the bag
  - FixHeader:
      include_tags: [ "copied_tf" ]
      stamp_offset: -2.0
  - FixHeader:
      include_topics:
        - /camera_front/camera_info
        - /camera_front/image_color/compressed
      frame_id: pylon_camera_front
  - FixHeader:
      include_topics:
        - /camera_left/camera_info
        - /camera_left/image_color/compressed
      frame_id: pylon_camera_left
  - FixHeader:
      include_topics:
        - /camera_rear/camera_info
        - /camera_rear/image_color/compressed
      frame_id: pylon_camera_rear
  - FixHeader:
      include_topics:
        - /camera_right/camera_info
        - /camera_right/image_color/compressed
      frame_id: pylon_camera_right
  - FixHeader:
      include_topics:
        - /camera_up/camera_info
        - /camera_up/image_color/compressed
      frame_id: pylon_camera_up
  - Transforms:
      change:
        camera_front:
          camera_0:
            child_frame_id: pylon_camera_front
        camera_left:
          camera_3:
            child_frame_id: pylon_camera_left
        camera_rear:
          camera_2:
            child_frame_id: pylon_camera_rear
        camera_right:
          camera_1:
            child_frame_id: pylon_camera_right
        camera_top:
          pylon_camera_up:
            frame_id: camera_up
          camera_4:
            frame_id: camera_up
            child_frame_id: pylon_camera_up
  - UpdateParams:
      update:
        parts_config:
          has_top_box_lora_ant: False
          has_top_box_l_wifi_ant: False
          has_top_box_r_wifi_ant: False
          has_rollcage: True
        omnicam_sensors_calib:
          transforms:
            - [ 0.6, 0.1215, 0.02, 0.0, 0.0, 0.0, 1.0, rear_right_box, camera_front ]
            - [ 0.3, 0.02, 0.02, 0.0, 0.0, 0.7071, -0.7071, rear_right_box, camera_right ]
            - [ 0.02, 0.1215, 0.02, 0.0, 0.0, 1.0, 0.0, rear_right_box, camera_rear ]
            - [ 0.3, 0.223, 0.02, 0.0, 0.0, 0.7071, 0.7071, rear_right_box, camera_left ]
            - [ 0.46, 0.1215, 0.20, 0.0, 0.7071, 0.0, -0.7071, rear_right_box, camera_top ]
  - UpdateRobotModel:
      urdf_file: "{dirname}/clone.urdf"
      param: nifti_robot_description
  - UpdateRobotModel:
      urdf_file: "{dirname}/clone.urdf"
      param: robot_description
  - UpdateRobotModel:
      urdf_file: "{dirname}/clone.urdf"
      param: nifti_tf_publisher/robot_description
  - UpdateRobotModel:
      urdf_file: "{dirname}/clone.urdf"
      param: dynamic_robot_model_server/robot_description
  - Remap:
      "/points_filtered_kontron": "/points_filtered"
  - Topics:
      exclude_topics:
        - /robot_bounding_box_debug
        - /robot_bounding_sphere_debug
        - /robot_model_for_bounding_box
        - /robot_model_for_bounding_sphere
        - /rosout
        - /rosout_agg
  - MagnetometerGaussToTesla:
      scale_covariance: False
      include_topics:
        - imu/mag
        - imu/mag_bias
        - imu/mag_unbiased
  - AddStaticTF:
      transforms:
      - frame_id: base_link
        child_frame_id: base_footprint
        transform: [0.0, 0.0, -0.07, 0.0, 0.0, 0.0]
  - RemoveInvalidTF: { }
  - DeduplicateTF: { }
