out_format: '{bag_base}.blurred_faces{ext}'
compression: lz4
copy_params: False
filters:
  - TopicTypes:
      include_types:
        - sensor_msgs/CompressedImage
        - sensor_msgs/Image
  - Topics:
      exclude_topics:
        - camera_front_thermo/image_raw
        - oak/stereo/image_raw/compressedDepth

  - Drop:
      include_topics:
        - camera_front/image_color/compressed
        - camera_front_thermo/image8/compressed
        - camera_front_thermo/image8_norm/compressed
        - camera_front_thermo/image_heatmap/compressed
        - oak/left/image_raw/compressed
        - oak/right/image_raw/compressed
        - oak/rgb/image_raw/compressed
      exclude_time_ranges: [[145, 155], [360, 380], [445, 455]]
  - Drop:
      include_topics: ["camera_left/image_color/compressed"]
      exclude_time_ranges: [[13, 45], [80, 105]; [195, 210], [225, 235], [295, 330], [370, 415], [445, 455]]
  - Drop:
      include_topics: ["camera_rear/image_color/compressed"]
      exclude_time_ranges: [[0, 115], [130, 185], [215, 250], [310, 340], [375, 450]]
  - Drop:
      include_topics: ["camera_right/image_color/compressed"]
      exclude_time_ranges: [[0, 15], [27, 60], [140, 160], [175, 190], [220, 225], [320, 340], [410, 461]]

  - BlurFaces:
      threshold: 0.065
      scale: [960, 960]
      mask_scale: 1.3
      replacewith: blur
      ellipse: true
