out_format: '{bag_base}.blurred_faces{ext}'
compression: lz4
copy_params: False
filters:
  - TopicTypes:
      include_types:
        - sensor_msgs/CompressedImage
        - sensor_msgs/Image
  - Topics:
      exclude_topics:
        - camera_front_thermo/image_raw
        - oak/stereo/image_raw/compressedDepth

  - Drop:
      include_topics:
        - camera_front/image_color/compressed
        - camera_front_thermo/image8/compressed
        - camera_front_thermo/image8_norm/compressed
        - camera_front_thermo/image_heatmap/compressed
        - oak/left/image_raw/compressed
        - oak/right/image_raw/compressed
        - oak/rgb/image_raw/compressed
      exclude_time_ranges: [[40, 95], [105, 115], [205, 225], [300, 310], [370, 385], [410, 425], [470, 490], [500, 510], [520, 540], [575, 600]]
  - Drop:
      include_topics: ["camera_left/image_color/compressed"]
      exclude_time_ranges: [[0, 70], [110, 125], [150, 165], [205, 250], [265, 310], [320, 340], [370, 285], [410, 425], [490], [520, 540], [585, 600]]
  - Drop:
      include_topics: ["camera_rear/image_color/compressed"]
      exclude_time_ranges: [[15, 100], [120, 325], [335, 440], [485, 555], [590, 619]]
  - Drop:
      include_topics: ["camera_right/image_color/compressed"]
      exclude_time_ranges: [[45, 70], [80, 95], [135, 145], [170, 180], [190, 205], [250, 260], [295, 325], [340, 360], [410, 425], [475, 490], [520, 545], [590, 600]]

  - BlurFaces:
      threshold: 0.065
      scale: [960, 960]
      mask_scale: 1.3
      replacewith: blur
      ellipse: true
  
  - ExportMessageInfoToCSV:
      csv_file: "{bag_base}.faces.csv"
      use_header_stamp: True
      include_types: ["vision_msgs/Detection2DArray"]
