out_format: '{bag_base}.blurred_faces{ext}'
compression: lz4
copy_params: False
filters:
  - TopicTypes:
      include_types:
        - sensor_msgs/CompressedImage
        - sensor_msgs/Image
  - Topics:
      exclude_topics:
        - camera_front_thermo/image_raw
        - oak/stereo/image_raw/compressedDepth

  - Drop:
      include_topics:
        - camera_front/image_color/compressed
        - camera_front_thermo/image8/compressed
        - camera_front_thermo/image8_norm/compressed
        - camera_front_thermo/image_heatmap/compressed
        - oak/left/image_raw/compressed
        - oak/right/image_raw/compressed
        - oak/rgb/image_raw/compressed
      exclude_time_ranges: []
  - Drop:
      include_topics: ["camera_left/image_color/compressed"]
      exclude_time_ranges: []
  - Drop:
      include_topics: ["camera_rear/image_color/compressed"]
      exclude_time_ranges: [[0, 25], [35, 50]]
  - Drop:
      include_topics: ["camera_right/image_color/compressed"]
      exclude_time_ranges: [[0, 40]]

  - BlurFaces:
      threshold: 0.065
      scale: [960, 960]
      mask_scale: 1.3
      replacewith: blur
      ellipse: true
