out_format: '{bag_base}.blurred_faces{ext}'
compression: lz4
copy_params: False
filters:
  - TopicTypes:
      include_types:
        - sensor_msgs/CompressedImage
        - sensor_msgs/Image
        - vision_msgs/Detection2DArray
  - Topics:
      exclude_topics:
        - camera_front_thermo/image_raw
        - oak/stereo/image_raw/compressedDepth
        
  - Drop:
      include_topics:
        - camera_front/image_color/compressed
        - camera_front_thermo/image8/compressed
        - camera_front_thermo/image8_norm/compressed
        - camera_front_thermo/image_heatmap/compressed
        - oak/left/image_raw/compressed
        - oak/right/image_raw/compressed
        - oak/rgb/image_raw/compressed
        - camera_front/image_color/anonymized_faces
        - camera_front_thermo/image8/anonymized_faces
        - camera_front_thermo/image8_norm/anonymized_faces
        - camera_front_thermo/image_heatmap/anonymized_faces
        - oak/left/image_raw/anonymized_faces
        - oak/right/image_raw/anonymized_faces
        - oak/rgb/image_raw/anonymized_faces
      exclude_time_ranges: [[ 60, 70 ], [ 210, 217 ], [ 270, 275 ]]
  - Drop:
      include_topics: ["camera_left/image_color/compressed", "camera_left/image_color/anonymized_faces"]
      exclude_time_ranges: [[28, 33], [68, 75], [155, 172], [180, 198], [212, 225]]
  - Drop:
      include_topics: ["camera_rear/image_color/compressed", "camera_rear/image_color/anonymized_faces"]
      exclude_time_ranges: [[0, 55], [72, 100], [140, 160], [170, 185], [195, 217]]
  - Drop:
      include_topics: ["camera_right/image_color/compressed", "camera_right/image_color/anonymized_faces"]
      exclude_time_ranges: [[35, 46], [55, 62], [76, 88]]
  
  - ExportMessageInfoToCSV:
      csv_file: "{bag_base}.faces.csv"
      use_header_stamp: True
      include_types: ["vision_msgs/Detection2DArray"]
