out_format: '{bag_base}.postproc{ext}'
compression: lz4
extra_bags:
  - '{bag_base}.points_filtered{ext}'
  - '{bag_base}.camera_masks{ext}'
  - '{bag_base}.blurred_faces{ext}'
filters:
  - AddSubtitles:
      subtitles_file: '{bag_base}.srt'
      topic: /commentary
  # drop points_filtered from primary bag and use the ones from extra bag
  - Drop:
      include_topics:
        - points_filtered
      exclude_tags:
        - extra_bag
  - StampTwist:
      source_topic: "cmd_vel"
  - DropMessagesFromCSV:
      csv_file: "{bag_base}.invalid_imgs.csv"
      additional_topics:
        "camera_front/image_color/compressed": [ "camera_front/camera_info" ]
        "camera_left/image_color/compressed": [ "camera_left/camera_info" ]
        "camera_right/image_color/compressed": [ "camera_right/camera_info" ]
  # Whenever a face is detected and blurred, drop the image from the primary bag and use the image from the extra bag
  - DropMessagesFromCSV:
      csv_file: "{bag_base}.faces.csv"
      additional_topics:
        "camera_front/image_color/anonymized_faces": ["camera_front/image_color/compressed"]
        "camera_front_thermo/image8/anonymized_faces": ["camera_front_thermo/image8/compressed"]
        "camera_front_thermo/image8_norm/anonymized_faces": ["camera_front_thermo/image8_norm/compressed"]
        "camera_front_thermo/image_heatmap/anonymized_faces": ["camera_front_thermo/image_heatmap/compressed"]
        "oak/left/image_raw/anonymized_faces": ["oak/left/image_raw/compressed"]
        "oak/right/image_raw/anonymized_faces": ["oak/right/image_raw/compressed"]
        "oak/rgb/image_raw/anonymized_faces": ["oak/rgb/image_raw/compressed"]
        "camera_left/image_color/anonymized_faces": ["camera_left/image_color/compressed"]
        "camera_rear/image_color/anonymized_faces": ["camera_rear/image_color/compressed"]
        "camera_right/image_color/anonymized_faces": ["camera_right/image_color/compressed"]
      exclude_tags: ["extra_bag"]
  - DeduplicateTF: {}
