out_format: '{bag_base}.preproc{ext}'
compression: lz4
filters:
  - MergeInitialStaticTf:
      add_tags: [ "copied_tf" ]
  - CopyFirstTfToBagStart:
      add_tags: [ "copied_tf" ]
  - RemovePasswordsFromParams: {}
  # Make sure we have TFs also for images that have stamps slightly before the start of the bag
  - FixHeader:
      include_tags: [ "copied_tf" ]
      stamp_offset: -2.0
  - Remap:
      "imu_and_wheel_odom": "odom"
  - Copy:
      "husky/velocity_controller/cmd_vel": "cmd_vel"
      "husky/velocity_controller/odom": "odom_2d"
  - Topics:
      exclude_topics:
        - /rosout
        - /rosout_agg
  - MagnetometerGaussToTesla:
      scale_covariance: False
      include_topics:
        - imu/mag
        - imu/mag_bias
        - imu/mag_unbiased
  - FixHeader:
      include_topics:
        - /camera_front_thermo/camera_info
        - /camera_front_thermo/image8/compressed
        - /camera_front_thermo/image8_norm/compressed
        - /camera_front_thermo/image_heatmap/compressed
        - /camera_front_thermo/image_raw
        - /camera_front_thermo/max_temp
        - /camera_front_thermo/min_temp
      frame_id: boson_camera
  - Deduplicate:
      ignore_seq: True
      include_topics:
        - /camera_front_thermo/camera_info
  - FixCameraCalibration:
      calibrations:
        "/camera_front_thermo/camera_info": camera_front_thermo.calib.yaml
  - FixHeader:
      include_topics:
        - /camera_front/camera_info
        - /camera_front/image_color/compressed
      frame_id: pylon_camera_front
  - FixHeader:
      include_topics:
        - /camera_right/camera_info
        - /camera_right/image_color/compressed
      frame_id: pylon_camera_right
  - FixHeader:
      include_topics:
        - /camera_rear/camera_info
        - /camera_rear/image_color/compressed
      frame_id: pylon_camera_rear
  - FixHeader:
      include_topics:
        - /camera_left/camera_info
        - /camera_left/image_color/compressed
      frame_id: pylon_camera_left
  - FixHeader:
      include_topics:
        - /oak/left/camera_info
        - /oak/left/image_raw/compressed
      frame_id: oak_left_camera_optical_frame
  - FixHeader:
      include_topics:
        - /oak/right/camera_info
        - /oak/right/image_raw/compressed
      frame_id: oak_right_camera_optical_frame
  - FixHeader:
      include_topics:
        - /oak/rgb/camera_info
        - /oak/rgb/image_raw/compressed
        - /oak/stereo/camera_info
        - /oak/stereo/image_raw/compressedDepth
      frame_id: oak_rgb_camera_optical_frame
  - Transforms:
      exclude_parents:
        - oak-d-base-frame
      exclude_children:
        - oak-d_frame
      change:
        tower_camera_floor:
          camera_0:
            child_frame_id: camera_front
          camera_1:
            child_frame_id: camera_right
          camera_2:
            child_frame_id: camera_rear
          camera_3:
            child_frame_id: camera_left
        camera_0:
          camera_0_optical:
            frame_id: camera_front
            child_frame_id: pylon_camera_front
        camera_1:
          camera_1_optical:
            frame_id: camera_right
            child_frame_id: pylon_camera_right
        camera_2:
          camera_2_optical:
            frame_id: camera_rear
            child_frame_id: pylon_camera_rear
        camera_3:
          camera_3_optical:
            frame_id: camera_left
            child_frame_id: pylon_camera_left
  - RemoveInvalidTF: { }
  - DeduplicateTF: { }

