out_format: '{bag_base}.postproc{ext}'
compression: lz4
extra_bags:
  - '{bag_base}.camera_masks{ext}'
  - '{bag_base}.blurred_faces{ext}'
  - '{bag_base}.flippers{ext}'
  - '{bag_base}.icp{ext}'
filters:
  - AddSubtitles:
      subtitles_file: '{bag_base}.srt'
      topic: /commentary
  - RemovePasswordsFromParams: {}
  # drop points_filtered from primary bag and use the ones from extra bag
  - Drop:
      include_topics:
        - points_filtered
      exclude_tags:
        - extra_bag
  # copy map->odom TF from ICP extra bag
  - Transforms:
      include_parents:
        - map
      include_tags: [ "extra_bag_3" ]
  - StampTwist:
      source_topic: "cmd_vel"
  - DropMessagesFromCSV:
      csv_file: "{bag_base}.invalid_imgs.csv"
      additional_topics:
        "camera_front/image_color/compressed": [ "camera_front/camera_info" ]
        "camera_fisheye_front/image_color/compressed": [ "camera_fisheye_front/camera_info" ]
        "camera_fisheye_rear/image_color/compressed": [ "camera_fisheye_rear/camera_info" ]
        "camera_left/image_color/compressed": [ "camera_left/camera_info" ]
        "camera_right/image_color/compressed": [ "camera_right/camera_info" ]
        "camera_rear/image_color/compressed": [ "camera_rear/camera_info" ]
        "camera_up/image_color/compressed": [ "camera_up/camera_info" ]
    # Whenever a face is detected and blurred, drop the image from the primary bag and use the image from the extra bag
  - DropMessagesFromCSV:
      csv_file: "{bag_base}.faces_imgs.csv"
      exclude_tags: ["extra_bag"]
  - DeduplicateTF: {}
