out_format: '{bag_base}.postproc{ext}'
compression: lz4
extra_bags:
  - '{bag_base}.points_filtered{ext}'
  - '{bag_base}.camera_masks{ext}'
filters:
  - AddSubtitles:
      subtitles_file: '{bag_base}.srt'
      topic: /commentary
  - RemovePasswordsFromParams: {}
  - Topics:
      exclude_topics:
        - points
  - StampTwist:
      source_topic: "cmd_vel"
  - DropMessagesFromCSV:
      csv_file: "{bag_base}.invalid_imgs.csv"
      additional_topics:
        "camera_front/image_color/compressed": [ "camera_front/camera_info" ]
        "camera_left/image_color/compressed": [ "camera_left/camera_info" ]
        "camera_right/image_color/compressed": [ "camera_right/camera_info" ]
  - DeduplicateTF: {}