out_format: '{bag_base}.preproc{ext}'
compression: lz4
filters:
  - MergeInitialStaticTf:
      add_tags: [ "copied_tf" ]
  - CopyFirstTfToBagStart:
      add_tags: [ "copied_tf" ]
  # Make sure we have TFs also for images that have stamps slightly before the start of the bag
  - FixHeader:
      include_tags: [ "copied_tf" ]
      stamp_offset: -2.0
  - Topics:
      exclude_topics:
        - /points_filtered_kontron
        - /robot_bounding_box
        - /robot_bounding_box_debug
        - /robot_bounding_sphere
        - /robot_bounding_sphere_debug
        - /robot_model_for_bounding_box
        - /robot_model_for_bounding_sphere
        - /robot_model_for_contains_test
        - /robot_model_for_shadow_test
        - /rosout
        - /rosout_agg
  - MagnetometerGaussToTesla:
      scale_covariance: False
      include_topics:
        - imu/mag
        - imu/mag_bias
        - imu/mag_unbiased
  - EstimateJointStatesFromMotionModelAckermann:
      wheel_radius: 0.545
      wheel_separation: 4.32
      traction_joints: ["front_left_wheel_j", "front_right_wheel_j", "rear_left_wheel_j", "rear_right_wheel_j"]
      steering_joints: ["front_left_wheel_steering_j", "front_right_wheel_steering_j"]
      linear_velocity_topic: "gnss/septentrio/fix_detail"
      linear_velocity_field: "speed"
      angular_velocity_topic: "os_cloud_node/imu"
      angular_velocity_field: "angular_velocity.z"
      frame_id: base_link
      joint_state_topic: joint_states
      separate_messages: true
      min_linear_velocity: 1.0
      add_tags: ["estimated_joint_states"]
  - FixHeader:
      include_topics: ["joint_states"]
      include_tags: [["estimated_joint_states", "traction_joint"]]
      exclude_tags: ["joints_interpolated"]
      stamp_offset: -0.02
      receive_stamp_offset: -0.01
  - FixHeader:
      include_topics: ["joint_states"]
      include_tags: [["estimated_joint_states", "steering_joint"]]
      exclude_tags: ["joints_interpolated"]
      stamp_offset: -0.03
      receive_stamp_offset: -0.005
  - FixJointStates:
      changes:
        front_left_wheel_j:
          position:
            value: 0.0
          integrate_position:
            min_dt: 0.03
        front_left_wheel_steering_j:
          derivate_velocity:
            min_dt: 0.03
        front_right_wheel_steering_j:
          derivate_velocity:
            min_dt: 0.03
        front_right_wheel_j:
          position:
            value: 0.0
          integrate_position:
            min_dt: 0.03
        rear_left_wheel_j:
          position:
            value: 0.0
          integrate_position:
            min_dt: 0.03
        rear_right_wheel_j:
          position:
            value: 0.0
          integrate_position:
            min_dt: 0.03
      include_tags: ["estimated_joint_states"]
      exclude_tags: ["joints_interpolated"]
  - InterpolateJointStates:
      joints: []
      max_dt: 0.04
      dt_tolerance: 0.03
      add_tags: ["joints_interpolated"]
  - RecomputeAckermannOdometry:
      wheel_radius: 0.545
      wheel_separation: 4.32
      traction_joint: rear_left_wheel_j
      steering_joint: front_left_wheel_steering_j
      odom_frame_id: odom_2d
      odom_topic: odom_2d
      cmd_vel_topic: cmd_vel
      min_dt: 0.03
      heading_change_coef: 0.55
      twist_covariance: [
        1.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 1.0,
      ]
  - Throttle:
      cmd_vel: 10.0
  - RecomputeTFFromJointStates:
      include_topics: [ "joint_states" ]
      # description_param: robot_description
      description_file: tatra.urdf
      publish_new_tfs: true
      add_tags: ["recomputed"]
  - AddStaticTF:
      - frame_id: base_link
        child_frame_id: base_footprint
        transform: [0.0, 0.0, -0.545, 0.0, 0.0, 0.0]
  - RemoveInvalidTF: {}
  - DeduplicateTF:
      cache_size: 10
