out_format: '{bag_base}.preproc{ext}'
compression: lz4
filters:
  - MergeInitialStaticTf:
      add_tags: [ "copied_tf" ]
  - CopyFirstTfToBagStart:
      add_tags: [ "copied_tf" ]
  # Make sure we have TFs also for images that have stamps slightly before the start of the bag
  - FixHeader:
      include_tags: [ "copied_tf" ]
      stamp_offset: -2.0
  - Topics:
      exclude_topics:
        - /points_filtered_kontron
        - /robot_bounding_box
        - /robot_bounding_box_debug
        - /robot_bounding_sphere
        - /robot_bounding_sphere_debug
        - /robot_model_for_bounding_box
        - /robot_model_for_bounding_sphere
        - /robot_model_for_contains_test
        - /robot_model_for_shadow_test
        - /rosout
        - /rosout_agg
  - Drop:
      include_topics:
        - /odom_2d
      include_tags: [ "original" ]
  - MagnetometerGaussToTesla:
      scale_covariance: False
      include_topics:
        - imu/mag
        - imu/mag_bias
        - imu/mag_unbiased
  - Deduplicate:
      ignore_seq: True
      include_topics:
        - /abs_active
        - /brake/cmd_acc
        - /fix
        - /fix_detail
        - /vehicle_imu/data_raw
      include_tags: [ "original" ]
  - Transforms:
      exclude_parents:
        - odom_2d
      include_tags: [ "original" ]
  - FixHeader:
      include_topics:
        - /abs_active
        - /brake/cmd_acc
        - /joint_states
        - /tf
        - /vehicle_imu/data_raw
      stamp_offset: -0.35
      include_tags: [ "original" ]
  - DeduplicateJointStates:
      ignore_stamp_difference: 0.02
      include_tags: [ "original" ]
  # The angles are close to 0 and 2*pi, so we first need to normalize them and only after that we can scale them down.
  # That's why there are two instances of FixJointStates.
  - FixJointStates:
      changes:
        front_left_wheel_steering_j:
          position:
            normalize_angle: true
        front_right_wheel_steering_j:
          position:
            normalize_angle: true
      add_tags: ["steering_joints_normalized"]
  - FixJointStates:
      changes:
        front_left_wheel_j:
          position:
            value: 0.0
          velocity:
            multiplier: 0.5688
          integrate_position:
            min_dt: 0.03
        front_right_wheel_j:
          position:
            value: 0.0
          velocity:
            multiplier: 0.5688
          integrate_position:
            min_dt: 0.03
        front_left_wheel_steering_j:
          position:
            multiplier: 0.65
          velocity:
            multiplier: 0.65
        front_right_wheel_steering_j:
          position:
            multiplier: 0.65
          velocity:
            multiplier: 0.65
        rear_left_wheel_j:
          position:
            value: 0.0
          velocity:
            multiplier: 0.5688
          integrate_position:
            min_dt: 0.03
        rear_right_wheel_j:
          position:
            value: 0.0
          velocity:
            multiplier: 0.5688
          integrate_position:
            min_dt: 0.03
      include_tags: ["original", "steering_joints_normalized"]
      exclude_tags: ["joints_interpolated"]
  - InterpolateJointStates:
      joints: []
      max_dt: 0.04
      dt_tolerance: 0.03
      add_tags: ["joints_interpolated"]
  - RecomputeAckermannOdometry:
      wheel_radius: 0.545
      wheel_separation: 4.32
      traction_joint: rear_left_wheel_j
      steering_joint: front_left_wheel_steering_j
      odom_frame_id: odom_2d
      odom_topic: odom_2d
      cmd_vel_topic: cmd_vel
      min_dt: 0.03
      heading_change_coef: 0.55
      twist_covariance: [
        1.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 1.0,
      ]
  - Throttle:
      cmd_vel: 10.0
  - RecomputeTFFromJointStates:
      include_topics: [ "joint_states" ]
      # description_param: robot_description
      description_file: tatra.urdf
      publish_new_tfs: true
      add_tags: ["recomputed"]
  - RemoveInvalidTF: {}
  - DeduplicateTF: {}
