out_format: '{bag_base}.postproc{ext}'
compression: lz4
extra_bags:
  - '{dirname}/{bag_base}.camera_masks{ext}'
  - '{dirname}/{bag_base}.flippers{ext}'
  - '{dirname}/{bag_base}.license_plates_blurred{ext}'
filters:
  - AddSubtitles:
      subtitles_file: '{bag_base}.srt'
      topic: /commentary
  - RemovePasswordsFromParams: {}
  - StampTwist:
      source_topic: "cmd_vel"
  # marv_2024-11-25-03-46-38 has license plates in left cam, only keep the blurred ones
  - Drop:
      include_topics: ["camera_left/image_color/compressed"]
      include_tags: [["primary_bag", "bag_base:marv_2024-11-25-03-46-38"]]
  - DropMessagesFromCSV:
      csv_file: "{bag_base}.invalid_imgs.csv"
      additional_topics:
        "camera_front/image_color/compressed": [ "camera_front/camera_info" ]
        "camera_fisheye_front/image_color/compressed": [ "camera_fisheye_front/camera_info" ]
        "camera_fisheye_rear/image_color/compressed": [ "camera_fisheye_rear/camera_info" ]
        "camera_left/image_color/compressed": [ "camera_left/camera_info" ]
        "camera_right/image_color/compressed": [ "camera_right/camera_info" ]
        "camera_rear/image_color/compressed": [ "camera_rear/camera_info" ]
        "camera_up/image_color/compressed": [ "camera_up/camera_info" ]
  - DeduplicateTF: {}
