out_format: '/tmp/{bag_base}.export_csvs{ext}'
copy_params: False
filters:
  - TopicTypes:
      include_types:
        - geometry_msgs/TwistStamped
        - sensor_msgs/CameraInfo
        - tf2_msgs/TFMessage

  - ExportTFTrajectory:
      odom_frame_id: map
      child_frame_id: base_link
      trigger_frame_id: odom
      max_frequency: 20.0
      csv_file: '{bag_base}.poses.icp-base_link.csv'
  - ExportTFTrajectory:
      odom_frame_id: odom
      child_frame_id: base_link
      max_frequency: 20.0
      csv_file: '{bag_base}.poses.odom-base_link.csv'
  - ExportTFTrajectory:
      odom_frame_id: map
      child_frame_id: os_lidar
      trigger_frame_id: odom
      max_frequency: 20.0
      csv_file: '{bag_base}.poses.icp-lidar.csv'
  - ExportTFTrajectory:
      odom_frame_id: odom
      child_frame_id: os_lidar
      trigger_frame_id: base_link
      max_frequency: 20.0
      csv_file: '{bag_base}.poses.odom-lidar.csv'
  
  - ExportCmdVelToCSV:
      topic: cmd_vel_stamped
      csv_file: '{bag_base}.cmd_vel.csv'
  
  - ExportFinalTFTreeToYAML:
      yaml_file: '{bag_base}.transformations.yaml'
      static_only: True
      transforms:
        - [base_link, base_footprint]
        - [base_link, os_sensor]
        - [base_link, os_lidar]
        - [base_link, os_imu]
        - [base_link, imu]
        - [base_link, pylon_camera_fisheye_front]
        - [base_link, pylon_camera_fisheye_rear]
        - [base_link, pylon_camera_front]
        - [base_link, pylon_camera_left]
        - [base_link, pylon_camera_rear]
        - [base_link, pylon_camera_right]
        - [base_link, pylon_camera_up]
        - [base_link, camera_fisheye_front]
        - [base_link, camera_fisheye_rear]
        - [base_link, camera_front]
        - [base_link, camera_left]
        - [base_link, camera_rear]
        - [base_link, camera_right]
        - [base_link, camera_up]
        - [base_link, oak_rgb_camera_optical_frame]
        - [base_link, oak_left_camera_optical_frame]
        - [base_link, oak_right_camera_optical_frame]
        - [base_link, oak_rgb_camera_frame]
        - [base_link, oak_left_camera_frame]
        - [base_link, oak_right_camera_frame]
        - [base_link, oak_imu_frame]
        - [base_link, camera_front_thermo]
        - [base_link, gps_antenna]
        - [base_link, dgps_main_antenna]
        - [base_link, dgps_aux_antenna]

  - ExportCameraInfoToYAML:
      topic: /camera_fisheye_front/camera_info
      yaml_file: '{bag_base}.caminfo.camera_fisheye_front.yaml'
  - ExportCameraInfoToYAML:
      topic: /camera_fisheye_rear/camera_info
      yaml_file: '{bag_base}.caminfo.camera_fisheye_rear.yaml'
  - ExportCameraInfoToYAML:
      topic: /camera_front/camera_info
      yaml_file: '{bag_base}.caminfo.camera_front.yaml'
  - ExportCameraInfoToYAML:
      topic: /camera_left/camera_info
      yaml_file: '{bag_base}.caminfo.camera_left.yaml'
  - ExportCameraInfoToYAML:
      topic: /camera_rear/camera_info
      yaml_file: '{bag_base}.caminfo.camera_rear.yaml'
  - ExportCameraInfoToYAML:
      topic: /camera_right/camera_info
      yaml_file: '{bag_base}.caminfo.camera_right.yaml'
  - ExportCameraInfoToYAML:
      topic: /camera_up/camera_info
      yaml_file: '{bag_base}.caminfo.camera_up.yaml'
  - ExportCameraInfoToYAML:
      topic: /oak/left/camera_info
      yaml_file: '{bag_base}.caminfo.oak_left.yaml'
  - ExportCameraInfoToYAML:
      topic: /oak/right/camera_info
      yaml_file: '{bag_base}.caminfo.oak_right.yaml'
  - ExportCameraInfoToYAML:
      topic: /oak/rgb/camera_info
      yaml_file: '{bag_base}.caminfo.oak_rgb.yaml'
  - ExportCameraInfoToYAML:
      topic: /oak/stereo/camera_info
      yaml_file: '{bag_base}.caminfo.oak_stereo.yaml'
  - ExportCameraInfoToYAML:
      topic: /camera_front_thermo/camera_info
      yaml_file: '{bag_base}.caminfo.camera_front_thermo.yaml'

  - Drop: {}
