# Add base_footprint TF
out_format: '{dirname}/{basename}{ext}'
compression: lz4
copy_params: True
filters:
  - AddStaticTF:
      transforms:
      - frame_id: base_link
        child_frame_id: base_footprint
        transform: [0.0, 0.0, -0.545, 0.0, 0.0, 0.0]