out_format: '{bag_base}.preproc{ext}'
compression: lz4
filters:
  - MergeInitialStaticTf: {}
  - RemovePasswordsFromParams: {}
  - Remap:
      "/points_filtered_kontron": "/points_filtered"
  - Topics:
      exclude_topics:
        - /robot_bounding_box_debug
        - /robot_bounding_sphere_debug
        - /robot_model_for_bounding_box
        - /robot_model_for_bounding_sphere
        - /rosout
        - /rosout_agg
  - Deduplicate:
      ignore_seq: True
      include_topics:
        - /abs_active
        - /brake/cmd_acc
        - /fix
        - /fix_detail
        - /joint_states
        - /odom_2d
        - /tf
        - /vehicle_imu/data_raw
  - MagnetometerGaussToTesla:
      scale_covariance: False
      include_topics:
        - imu/mag
        - imu/mag_bias
        - imu/mag_unbiased
  - RemoveInvalidTF: { }
  - DeduplicateTF: { }
  - BlurFaces:
      threshold: 0.065
      scale: [960, 960]
      mask_scale: 1.3
      replacewith: blur
      ellipse: true
