out_format: '{bag_base}.preproc{ext}'
compression: lz4
filters:
  - MergeInitialStaticTf:
      add_tags: [ "copied_tf" ]
  - CopyFirstTfToBagStart:
      add_tags: [ "copied_tf" ]
  # Make sure we have TFs also for images that have stamps slightly before the start of the bag
  - FixHeader:
      include_tags: [ "copied_tf" ]
      stamp_offset: -2.0
  - Remap:
      "imu_and_wheel_odom": "odom"
  - Copy:
      "husky/velocity_controller/cmd_vel": "cmd_vel"
      "husky/velocity_controller/odom": "odom_2d"
  - Topics:
      exclude_topics:
        - /robot_bounding_box_debug
        - /robot_bounding_sphere_debug
        - /robot_model_for_bounding_box
        - /robot_model_for_bounding_sphere
        - /rosout
        - /rosout_agg
  - MagnetometerGaussToTesla:
      scale_covariance: False
      include_topics:
        - imu/mag
        - imu/mag_bias
        - imu/mag_unbiased
  - Deduplicate:
      ignore_seq: True
      include_topics:
        - /camera_front_thermo/camera_info
  - FixCameraCalibration:
      calibrations:
        "/camera_front_thermo/camera_info": camera_front_thermo.calib.yaml
  - RemoveInvalidTF: { }
  - DeduplicateTF: { }
