out_format: '{bag_base}.blurred_faces{ext}'
compression: lz4
copy_params: False
filters:
  - TopicTypes:
      include_types:
        - sensor_msgs/CompressedImage
        - sensor_msgs/Image
  - Topics:
      exclude_topics:
        - oak/stereo/image_raw/compressedDepth
        
  # marv_2024-10-31-15-16-42
  - Drop:
      include_tags: &bag1
        - bag_base:marv_2024-10-31-15-16-42
      include_topics: &front_topics
        - camera_front/image_color/compressed
        - camera_fisheye_front/image_color/compressed
        - oak/rgb/image_raw/compressed
      exclude_time_ranges: [[260, 271]]
  - Drop:
      include_tags: *bag1
      include_topics: &left_topics
        - camera_left/image_color/compressed
      exclude_time_ranges: [[0, 15], [200, 230], [245, 271]]
  - Drop:
      include_tags: *bag1
      include_topics: &rear_topics
        - camera_rear/image_color/compressed
        - camera_fisheye_rear/image_color/compressed
      exclude_time_ranges: [[0, 271]]
  - Drop:
      include_tags: *bag1
      include_topics: &right_topics
        - camera_right/image_color/compressed
      exclude_time_ranges: []
  - Drop:
      include_tags: *bag1
      include_topics: &up_topics
        - camera_up/image_color/compressed
      exclude_time_ranges: []

  # marv_2024-10-31-15-26-47
  - Drop:
      include_tags: &bag2
        - bag_base:marv_2024-10-31-15-26-47
      include_topics: *front_topics
      exclude_time_ranges: [[40, 55], [240, 255], [390, 414]]
  - Drop:
      include_tags: *bag2
      include_topics: *left_topics
      exclude_time_ranges: [[50, 80], [400, 414]]
  - Drop:
      include_tags: *bag2
      include_topics: *rear_topics
      exclude_time_ranges: [[10, 160], [255, 295]]
  - Drop:
      include_tags: *bag2
      include_topics: *right_topics
      exclude_time_ranges: [[250, 280]]
  - Drop:
      include_tags: *bag2
      include_topics: *up_topics
      exclude_time_ranges: []

  # marv_2024-10-31-15-35-05
  - Drop:
      include_tags: &bag3
        - bag_base:marv_2024-10-31-15-35-05
      include_topics: *front_topics
      exclude_time_ranges: []
  - Drop:
      include_tags: *bag3
      include_topics: *left_topics
      exclude_time_ranges: [[0, 40], [95, 135], [280, 299]]
  - Drop:
      include_tags: *bag3
      include_topics: *rear_topics
      exclude_time_ranges: [[0, 50], [80, 105], [120, 170], [290, 299]]
  - Drop:
      include_tags: *bag3
      include_topics: *right_topics
      exclude_time_ranges: [[135, 170]]
  - Drop:
      include_tags: *bag3
      include_topics: *up_topics
      exclude_time_ranges: []
  
  # marv_2024-10-31-15-52-07
  - Drop:
      include_tags: &bag4
        - bag_base:marv_2024-10-31-15-52-07
      include_topics: *front_topics
      exclude_time_ranges: []
  - Drop:
      include_tags: *bag4
      include_topics: *left_topics
      exclude_time_ranges: []
  - Drop:
      include_tags: *bag4
      include_topics: *rear_topics
      exclude_time_ranges: [[0, 40]]
  - Drop:
      include_tags: *bag4
      include_topics: *right_topics
      exclude_time_ranges: [[60, 100]]
  - Drop:
      include_tags: *bag4
      include_topics: *up_topics
      exclude_time_ranges: []
  
  # marv_2024-10-31-15-56-33
  - Drop:
      include_tags: &bag5
        - bag_base:marv_2024-10-31-15-56-33
      include_topics: *front_topics
      exclude_time_ranges: [[355, 375], [710, 760]]
  - Drop:
      include_tags: *bag5
      include_topics: *left_topics
      exclude_time_ranges: [[210, 225], [365, 380], [500, 545], [565, 600], [710, 735]]
  - Drop:
      include_tags: *bag5
      include_topics: *rear_topics
      exclude_time_ranges: [[0, 55], [100, 140], [185, 395], [510, 630], [725, 770]]
  - Drop:
      include_tags: *bag5
      include_topics: *right_topics
      exclude_time_ranges: [[0, 40], [275, 285], [320, 360], [575, 615], [740, 760]]
  - Drop:
      include_tags: *bag5
      include_topics: *up_topics
      exclude_time_ranges: []
  
  - BlurFaces:
      threshold: 0.065
      scale: [ 960, 960 ]
      mask_scale: 1.3
      replacewith: blur
      ellipse: true
  
  - ExportMessageInfoToCSV:
      csv_file: "{bag_base}.faces.csv"
      use_header_stamp: True
      include_types: ["vision_msgs/Detection2DArray"]
